/*.post {*/
/*    --avatarSize: 64px;*/
/*    display: grid;*/
/*    grid-template-columns: min-content 1fr;*/
/*    max-width: 750px;*/

/*    margin-left: -84px;*/
/*    margin-bottom: 36px;*/
/*}*/

.post__title {
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.post__title-big {
    margin-bottom: 0px;
    letter-spacing: 5px;
    font-size: 48px;
    font-weight: bold;
}

/*.post__avatar {*/
/*    margin: 10px;*/
/*    grid-row: span 2;*/
/*    border-radius: 50%;*/
/*    width: var(--avatarSize);*/
/*}*/

.post__content {
    font-family: i8serif;
    font-size: 20px;
    line-height: 1.5em;
}

.post__meta {
    color: rgb(107, 122, 118);
}

.post__icon {
    width: 16px;
    height: 16px;
    fill: rgb(107, 122, 118);
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    text-indent: 0;
}

.post__icon > * {
    width: 16px;
    height: 16px;
}

.post {
    --avatarSize: 64px;
    position: relative;
    max-width: 750px;
    margin-bottom: 32px;
}

.post__avatar {
    z-index: 0;
    position: absolute;
    width: var(--avatarSize);
    border-radius: 50%;
    left: -84px;
}

.post__actions {
    position: absolute;
    top: 0;
    left: 100%;
}

.edit-link {
    cursor: pointer;
}

.edit-icon {
    width: 32px;
}

.edit-icon:hover {
    fill: var(--primaryColor);
}
