:root {
    /* Colors */
    --primaryColor: #24B7E3;
    --secondaryColor: #274C6D;
    --textColor: black;
    --activeLinkColor: #24B7E3;
    --activeLinkColorSecondary: #326697;
    --backgroundColor: #F5F3F3;

    /*  Font  */
    --fontSize: 16px;
    --fontSizeSmall: 14px;
    --fontSizeMenu: 20px;
    --fontSizeH1: 32px;

    /*  Spaces  */
}
