@import 'variables.css';
@import 'fonts.css';
@import "grid.css";
@import 'news_card.css';
@import 'post_card.css';
@import 'navbar.css';
@import "footer.css";
@import "form.css";
@import "q_form.css";
@import "admin.css";

@import "pages/about.css";
@import "pages/news.css";

body, html {
    margin: 0;
    min-height: 100vh;
    font-family: 'RF Tone', Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.page-wrapper {
    width: 900px;
    display: grid;
    padding: 2%;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {

    width: 100%;
}

.page-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}

.page-info__title {
    color: var(--primaryColor);
    font-size: 48px;
    line-height: 64px;
    letter-spacing: .1em;
    font-weight: normal;
    margin-bottom: 0;
}

.page-info__text {
    font-size: 18px;
    line-height: 24px;
    max-width: 600px;
}
