.form-wrapper {
    display: flex;
    justify-content: center;
}

.form {
}

.input-big {
    font-size: 24px;
    padding: 6px 8px;
    max-width: 600px;
}

.input {
    font-size: 18px;
    padding: 6px 8px;
    max-width: 300px;
}

.textarea {
    font-size: inherit;
    padding: 8px 8px;
    max-width: 800px;
    height: 400px;
    resize: none;
}

.form__title {
    color: var(--primaryColor);
    font-size: 32px;
    font-family: inherit;
    letter-spacing: 0.1em;
    font-weight: normal;

    margin-bottom: 32px;
}

.form__title-black {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
}

.form-control {
    display: grid;
    grid-template-columns: 250px 1fr;
    margin-bottom: 40px;
}

.form-control_end {
    display: flex;
    justify-content: flex-end;
}

.form-control__label {
    color: rgb(107, 122, 118);
    font-size: 18px;
}

.form-control__label_centered {
    align-self: center;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkbox-group_horizontal {
    display: flex;
    gap: 16px;
}

.checkbox {
    cursor: pointer;
}

.submit-button {
    cursor: pointer;
    justify-self: flex-end;
    /*float: right;*/
    padding: 8px 22px;
    background: linear-gradient(180deg, #46C4F4 0%, #35BCEB 100%);
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 22px;
}

.submit-button:hover {
    background: linear-gradient(180deg, #00B7FD 0%, #0993C4 100%);
}

textarea,
input {
    margin: 0;
    font-size: inherit;
}

textarea,
input[type=text],
input[type=email]{
    outline: none;
    background: var(--backgroundColor);
    font-family: inherit;
    border: none;
    border-radius: 4px;
}

textarea:focus,
input[type=text]:focus {
    outline: none;
}

@media screen and (max-width: 1000px) {
    .form-control {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .form-control__label {
        font-weight: bold;
        color: black;
    }

    .form-control__label_centered {
        align-self: normal;
    }
}
